* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	background-color: black;
	color: white;
	padding: 15px;
}

h1, h3 {
	font-weight: bold;
	line-height: 2;
	font-family: sans-serif;

}

p {
	font-family: cursive;
	margin-bottom: 10px;
}

/*end of first push to Github*/

div {
	margin-bottom: 10px;
	display: block;
}

h4 {
	text-decoration: underline;
	font-weight: bold;
}

ol {
	list-style: lower-roman;
}

.lorem{
	color: grey;
}


/*end of secong push*/