* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	background-color: black;
	color: white;
	padding: 15px;
}

h1, h3 {
	font-weight: bold;
	line-height: 2;
	font-family: sans-serif;

}

p {
	font-family: cursive;
	margin-bottom: 10px;
}

/*this is the first push to Github*/